body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


nav{
    background-color: #062146;
    height: 90px;
    margin: 0;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.newsblog-nav2>h2{
    margin: 0;
    display: inline;
}

.newsblog-nav2>h6{
    margin: 0;
    display: block;
    width: auto;
    margin-left: 20px;
}

.newsblog-nav{
    height: 47px;
    margin-top: 20px;
    position: relative;
    margin-left: 40%;
}

.newsblog-nav1{
    display: inline-block;
    background-color: white;
    width: 320px;
    margin-top: 6vh;
    border-style: solid;
    border-width: 1px;
    border-color: #FF2133;
}

.newsblog-nav2{
    display: inline-block;
    height: 47px;
    margin-left: 25%;
}


/* nav bar is completed */


.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    grid-column-gap: 50px;
    border-bottom: solid black 1.5px;
}

.item{
    /* display: inline-block; */
    align-self: center;
}

.allnewstext{
    justify-self: center;
}

.category{
    margin-left: 20px;
}

.category select{
    display: block;
    width: 100px;
}

.subscribe p{
    margin: 0;
}

/* all news completed */


